@model DeliverySytem.Models.Shop

@{
    ViewData["Title"] = "AddShop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Add shop</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddShop" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ShopName" class="control-label">Shop Name</label>
                <input asp-for="ShopName" class="form-control" />
                <span asp-validation-for="ShopName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Avatar</label>
                <input type="file" name="AvatarUrl" class="form-control" />
                <span asp-validation-for="AvatarUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryRowKey" class="control-label">Country</label>
                @* <input asp-for="CountryRowKey" class="form-control" /> *@
                <select asp-for="CountryRowKey" class="form-control">
                    <option value="">Select a country</option>
					@foreach (var country in ViewBag.Countries)
					{
						<option value="@country.RowKey">@country.CountryName</option>
                    }
                </select>
                <span asp-validation-for="CountryRowKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityRowKey" class="control-label">City</label>
                @* <input asp-for="CityRowKey" class="form-control" /> *@
                <select asp-for="CityRowKey" class="form-control">
                    <option value="">Select a city</option>
					@foreach (var city in ViewBag.Cities)
					{
                        <option value="@city.RowKey">@city.CityName</option>
					}
                </select>
                <span asp-validation-for="CityRowKey" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
