@model DeliverySytem.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cabinet</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
          
            <div class="card shadow mt-3">
                <div class="card-body">
                    <h5 class="card-title-user-info">Personal information</h5>
                    <div class="profile-user-info-container">
                        <div class="info-item-user-info">
                            <span class="profile-info-label-user">Name:</span>
                            <span class="profile-info-value-user">@Model.Name </span>
                        </div>
                        
                        <div class="info-item-user-info">
                            <span class="profile-info-label-user">Email:</span>
                            <span class="profile-info-value-user">@Model.Email</span>
                        </div>
                        <div class="info-item-user-info">
                            <span class="profile-info-label-user">Registration date:</span>
                            <span class="profile-info-value-user">@Model.CreatedAt.ToShortDateString()</span>
                        </div>
                    </div>
                </div>
            </div>
           
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
